﻿@model ProductApplication.Models.Product.ProductModel

<h2>Delete Product</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NamaBarang)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NamaBarang)
        </dd>
        <!-- Add other properties as needed -->
    </dl>

    <form asp-action="DeleteProduct" asp-route-id="@Model.Id" method="post">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index">Back to List</a>
    </form>
</div>
