﻿@model ProductApplication.Models.Product.ProductModel

<h2>Product Detail</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NamaBarang)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NamaBarang)
        </dd>
        <!-- Add other properties as needed -->
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
