@model ProductApplication.Models.Product.ProductModel

<h2>Update Product</h2>

<form asp-action="UpdateProduct" asp-route-id="@Model.Id" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="NamaBarang" class="control-label"></label>
        <input asp-for="NamaBarang" class="form-control" />
        <span asp-validation-for="NamaBarang" class="text-danger"></span>
    </div>
    <!-- Add other input fields for properties -->
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
